<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ymtao.gd.commodity.mapper.CommodityBaseAttributeValueMapper">

    <select id="selectValueName" resultType="string" parameterType="string">
        select value_name from commodity_base_attribute_value where id=#{valueId}
    </select>



</mapper>